<!DOCTYPE html>
<html>
<head>
    <title>Product Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Product Management</h1>
        <a href="/products/manage" class="btn btn-primary">Manage Products</a>
        <a href="/products/add" class="btn btn-success">Add Product</a>
    </div>
</body>
</html>
